<!DOCTYPE html>
<html lang="en">

<head>
    <title>Car Rental System!</title>
</head>

<body>

<!-- Tab Menu -->
{% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>


{% elif current_user.is_admin() == true %}
    <a href="{{ url_for('home') }}">Dashboard</a>
    <a href="{{ url_for('cars') }}">Cars</a>
    <a href="{{ url_for('all_bookings') }}">All Bookings</a>
    <a href="{{ url_for('add_car') }}">New Cars</a>
    <a href="{{ url_for('logout') }}">Logout</a>

{% else %}
    <a href="{{ url_for('home') }}">Dashboard</a>
    <a href="{{ url_for('cars') }}">Cars</a>
    <a href="{{ url_for('logout') }}">Logout</a>
{% endif %}

<br>

<!-- Main Content Section -->
{% block body %}{% endblock %}

</body>
</html>
