<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NCRE考生成绩分析系统</title>
</head>
<body background="{{static_url('images/backg.jpg')}}" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;">
<h1 align="left" >
    <span  style="color:#FF0000	;">二、可视化分析</span>
</h1>
<h3>
    秋季学期学生成绩分析
</h3>
<div><img src="{{static_url('images/23.png')}}"/></div>
<h3>秋季各学院三级平均分数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院三级平均分数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季各学院三级通过率数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院三级通过率数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季各学院二级平均分数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院二级平均分数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季各学院二级通过率数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院二级通过率数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季各学院四级平均分数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院四级平均分数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季各学院四级通过率数柱状图</h3>
<div><img src="{{static_url('images/qiuji/秋季各学院四级通过率数柱状图.png')}}" height="600px" width="1000px"/></div>
<h3>秋季计算机与通信学院三级各语种的平均分数</h3>
<div><img src="{{static_url('images/qiuji/秋季计算机与通信学院三级各语种的平均分数.png')}}" height="600px" width="1000px"/></div>
<h3>秋季计算机与通信学院三级各语种的通过率</h3>
<div><img src="{{static_url('images/qiuji/秋季计算机与通信学院三级各语种的通过率.png')}}" height="600px" width="1000px"/></div>
<h3>秋季计算机与通信学院二级各语种的平均分数</h3>
<div><img src="{{static_url('images/qiuji/秋季计算机与通信学院二级各语种的平均分数.png')}}" height="600px" width="1000px"/></div>
<h3>秋季计算机与通信学院二级各语种的通过率</h3>
<div><img src="{{static_url('images/qiuji/秋季计算机与通信学院二级各语种的通过率.png')}}" height="600px" width="1000px"/></div>
</body>
</html>